﻿@using earnity.Factory

@{
    ViewData["Title"] = "Lista Restauracji";
    Layout = "../Shared/_Layout.cshtml";
}

<button class="btn btn-primary" onclick="location.href = '@Url.Action("PlaceDetails","PlaceView")'">Dodaj Restauracje</button>

<div style="padding-top: 20px" class="col-md-12">
    <table id="PlaceList" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Nazwa Restauracji</th>
                <th>Opis</th>
                <th>Opis skrócony</th>
                <th>Kategoria</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="~/app/js/dataTables/searchPlaces.js"></script>
}
