﻿@model earnity.ViewModels.PlaceDetailsViewModel

@{
    ViewData["Title"] = "PlaceDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Szczegóły Restauracji</h2>
<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="PlaceDetails">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description2" class="control-label"></label>
                <input asp-for="Description2" class="form-control" />
                <span asp-validation-for="Description2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Logo" class="control-label"></label>
                <input asp-for="Logo" class="form-control" />
                <span asp-validation-for="Logo" class="text-danger"></span>
            </div>
                <div class="form-group">  
                    <label asp-for="PlaceCategoryID" class="control-label"></label>
                    <select asp-for="PlaceCategoryID" class ="form-control" asp-items="ViewBag.Categories"></select>
                </div>

            <div class="form-group">
                <label asp-for="Lat" class="control-label"></label>
                <input asp-for="Lat" class="form-control" />
                <span asp-validation-for="Lat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lon" class="control-label"></label>
                <input asp-for="Lon" class="form-control" />
                <span asp-validation-for="Lon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkingHours" class="control-label "></label>
                <input asp-for="WorkingHours" class="form-control"/>
                <span asp-validation-for="WorkingHours" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-action="Index">Powrót do listy</a>
</div>

