﻿@model earnity.ViewModels.PlaceCategoryViewModel

@{
    ViewData["Title"] = "CategoryDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CategoryDetails</h2>

<h4>PlaceCategoryViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="CategoryDetails">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">  
                <label asp-for="PlaceTypeID" class="control-label"></label>
                <select asp-for="PlaceTypeID" class ="form-control" asp-items="ViewBag.Types"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Powrót do Kategorii</a>
</div>

