﻿@using earnity.Factory
@{
    ViewData["Title"] = "Kategorie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<button class="btn btn-primary" onclick="location.href = '@Url.Action("CategoryDetails","PlaceCategoryView")'">Dodaj Kategorie</button>

<div style="padding-top: 20px" class="col-md-12">
    <table id="CategoriesList" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Nazwa Kategorii</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="~/app/js/dataTables/searchCategories.js"></script>
}

